<h2>Following list</h2>
<div class="row panel panel-primary" id="friends">
  <dl>
    <% following.each do |f| %>
    <dt class="friend-date"><%= f[:created_at] %></dt><dd class="friend-friend"><a href="/user/<%= f[:id] %>"><%= f[:name] %></a></dd>
    <% end %>
  </dl>
</div>
